
.selectedcard {
    padding: 10px;
    // border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    background-color: white;
    color: black;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.selectedcard_text {
    margin: 0 2px;
    text-align: center;
}

.selectedcard_img {
    width: 40px;
}

.end {
    display: flex;
    justify-content: flex-end;
}